<% include ./partials/navbar %>
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 400px; background-image: url(/assets/img/brand/fikasback.png); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-3 text-white"><%=sacco.name%></h1>

      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--8">
  <div class="row">

    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Edit Details</h3>
              <% include ./partials/messages %>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form action="/users/<%=sacco._id%>?_method=PATCH" method="POST" enctype="application/x-www-form-urlencoded">
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="name">Sacco Name</label>
                    <input required autocomplete="off" type="name" id="name" name="name" class="form-control"
                      placeholder="Enter Name" value="<%= sacco.name %>" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="email">Email address</label>
                    <input required autocomplete="off" type="email" id="email" name="email"
                      class="form-control form-control-alternative" placeholder="email" value="<%= sacco.email%>" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="uniqueSaccoCode">Sacco Code</label>
                    <input type="uniqueSaccoCode" id="uniqueSaccoCode" name="uniqueSaccoCode" class="form-control"
                      placeholder="" value="<%=sacco.uniqueSaccoCode %>" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="registration_number">Registration Number</label>
                    <input required autocomplete="off" type="number" id="registration_number" name="registration_number"
                      class="form-control form-control-alternative" placeholder="Registration Number"
                      value="<%= sacco.registration_number %>" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="membership">Membership</label>
                    <input required type="text" id="membership" name="membership"
                      class="form-control form-control-alternative" placeholder="membership"
                      value="<%= sacco.membership %>" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="created">Created</label>
                    <input type="text" id="created" name="created" class="form-control form-control-alternative"
                      placeholder="Created" value="<%=sacco.created%>" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="date_founded">Date Founded</label>
                    <input required autocomplete="off" type="text" id="date_founded" name="date_founded"
                      class="form-control form-control-alternative" placeholder="Date Founded"
                      value="<%= sacco.date_founded %>" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="password">Enter Password</label>
                    <input autocomplete="off" type="password" id="password" name="password"
                      class="form-control form-control-alternative" placeholder="Enter password" value="" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="password2">Confirm Password</label>
                    <input autocomplete="off" type="password" id="password2" name="password2"
                      class="form-control form-control-alternative" placeholder="Confirm password" value="" />
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Postal Address</label>
                    <input required autocomplete="off" id="address" name="address"
                      class="form-control form-control-alternative" placeholder="Box Address" value="<%=sacco.address%>"
                      type="text" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label autocomplete="off" class="form-control-label" for="website">Website</label>
                    <input id="website" name="website" class="form-control form-control-alternative"
                      placeholder="Website" value="<%=sacco.website%>" type="text" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="postal_code">Postal Code</label>
                    <input required autocomplete="off" type="number" id="postal_code" name="postal_code"
                      class="form-control form-control-alternative" placeholder="postal code"
                      value="<%=sacco.postal_code%>" />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="telephone_number">Telephone Number</label>
                    <input required autocomplete="off" type="number" id="telephone_number" name="telephone_number"
                      class="form-control form-control-alternative" placeholder="Telephone Number"
                      value="<%=sacco.telephone_number%>" />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="status">Status</label>
                    <input type="text" name="status" id="status" class="form-control form-control-alternative"
                      value="<%=sacco.status%>">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="saccoLeaderFname">Sacco Leader's First Name</label>
                    <input required autocomplete="off" type="name" id="saccoLeaderFname" name="saccoLeaderFname"
                      class="form-control form-control-alternative" placeholder="First Name"
                      value="<%=sacco.saccoLeaderFname%>" />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="saccoLeaderLname">Sacco Leader's Last Name</label>
                    <input required autocomplete="off" type="name" id="saccoLeaderLname" name="saccoLeaderLname"
                      class="form-control form-control-alternative" placeholder="Last Name"
                      value="<%=sacco.saccoLeaderLname%>" />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="saccoLeaderPhoneNumber">Sacco Leader's Phone Number </label>
                    <input required autocomplete="off" type="number" id="saccoLeaderPhoneNumber"
                      name="saccoLeaderPhoneNumber" class="form-control form-control-alternative"
                      value="<%=sacco.saccoLeaderPhoneNumber%>" />
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">About</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>Description</label>
                <textarea rows="4" class="form-control form-control-alternative" id="about" name="about"
                  placeholder="A few words about the sacco ..." value=""><%=sacco.about%></textarea>
              </div>
            </div>
            <button style="float: right;" class="btn btn-success" type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    function change() // no ';' here
    {
      if (value == "Active") { value = "Deactivated"; }
      else { this.value = "Active" };
    }
  </script>
  <!-- Footer -->
  <% include ./partials/footer %>
</div>